/* 執筆テーマの個別設定 */

:root {
  /* 段組の設定 1 or 2 */
  column-count: 1;
}

@media print {
  :root {
    /**
    フォントの基本サイズ

    おすすめサイズは「ヒラギノ角ゴシック 8.5pt」だが、
    本テンプレートは Noto Sans JP を利用するので少し大きく設定している。
    お好みで設定してください。
     */
    font-size: 10pt;
    line-height: 1.8;
  }
  .token {
    /* ソースコードの文字サイズ */
    /* 100% ならば基本サイズと同じ大きさになります */
    font-size: 100%;
  }
}

/* 著者紹介のブロック */
.author-info {
  font-size: 1.5rem;
  font-weight: 500;
}

.profile-container {
  display: flex;
  justify-content: flex-end;
  text-align: left;
  align-items: center;
  margin-right: 20px;
}

.profile-icon {
  width: auto;
  height: 60px; /* アイコンの高さ。テキストエリアに対して可変にしたいが、よく分からん */
  margin-right: 10px;
}

.profile-text-area {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.profile-text-main {
  font-size: 1.1em;
  font-weight: bold;
  word-wrap: break-word;
  white-space: nowrap;
}

.profile-text-sub {
  font-size: 0.9em;
  font-weight: normal;
  word-wrap: break-word;
  white-space: nowrap;
}
