/* 執筆テーマの個別設定 */

@media print {
    :root {
        /* フォントの基本サイズ */
        /* 2023 は 14px を設定したが、書籍上では少し大きく感じた */
      font-size: 12px;
    }
    .token {
        /* ソースコードの文字サイズ */
        /* 100% ならば基本サイズと同じ大きさになります */
        font-size: 100%;
      }
}

/* 著者紹介のブロック */
.author-info {
    display: flex;
    justify-content: flex-end;
    text-align: left;
}

/* 改行しない */
.no-break {
    word-wrap: break-word;
    white-space: nowrap;
}
