@charset "UTF-8";

code[class*=language-],
pre[class*=language-] {
  color: #25292E;
  background: none;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  font-size: 1em;
  text-align: left;
  white-space: pre-wrap;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

/* Code blocks */
pre[class*=language-] {
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto;
  border-radius: 0.3em;
  border-top: 0.5px solid;
  border-bottom: 0.5px solid;
  border-right: 0.5px solid;
  border-left: 0.5px solid;
  border-color: #1F2430;
}

:not(pre) > code[class*=language-],
pre[class*=language-] {
  background: #F8F8F8;
}

/* Inline code */
:not(pre) > code[class*=language-] {
  padding: 0.1em;
  border-radius: 0.3em;
  white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #76A363;
}

.token.punctuation {
  color: #25292E;
}

.namespace {
  opacity: 0.7;
}

.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
  color: #f92672;
}

.token.boolean,
.token.number {
  color: #C4494A;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #C13E2A;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
  color: #25292E;
}

.token.atrule,
.token.attr-value {
  color: #C4494A;
}

.token.function {
  color: #7C53D8;
}

.token.class-name {
  color: #32565B;
}

.token.keyword {
  color: #C4494A;
}

.token.regex,
.token.important {
  color: #fd971f;
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

code[class*=language-],
pre[class*=language-] {
  margin: 1.5em 0;
  line-height: 1.2 !important;
  letter-spacing: 0.03rem !important;
  border-radius: 0.2rem !important;
  text-shadow: none !important;
}

:not(pre) > code {
  padding: 0.1rem 0.3rem !important;
  color: #34495e;
  background-color: #ecf0f1;
}

:root {
  font-family: "Neue Frutiger World", "Verdana", "Yakumono", "body", "Hiragino Sans", sans-serif;
  font-weight: 400;
  line-height: 1.7;
}

h1,
h2,
h3 {
  font-feature-settings: "palt", "calt";
}

h1 {
  font-size: 2.3rem;
  line-height: 1.2;
}

h2 {
  font-size: 1.8rem;
  line-height: 1.2;
}

h3 {
  font-size: 1.4rem;
  line-height: 1.2;
}

a {
  text-decoration: none;
  /* color: #3498db; */
}

a:visited {
  color: #9b59b6;
}

a:hover {
  text-decoration: underline;
  color: #e74c3c;
}

p {
  font-feature-settings: "calt";
  text-align: justify;
}

pre {
  margin: 1.5rem 0;
  box-decoration-break: clone;
}

@media print {
  :root {
    widows: 3;
    orphans: 3;
    hyphens: auto;
    font-size: 14px;
  }
  .token {
    font-size: 100%;
  }
  :not(.footnote) > a[href^='http']::before {
    display: none;
  }
  :not(.footnote) > a[href^='http']::after {
    display: none;
  }
}

@page {
  size: 210mm 297mm;
  margin-top: 25mm;
  margin-bottom: 21mm;
}

@page :left {
  /* 偶数ページの設定 */
  margin-left: 30mm;
  margin-right: 25mm;

  /* 下部のページ数と上部の表示を削除する */
  --vs-page--mbox-content-top-left: "";
  --vs-page--mbox-content-bottom-left: "";
}

@page :right {
  /* 奇数ページの設定 */
  margin-left: 25mm;
  margin-right: 30mm;

  /* 下部のページ数と上部の表示を削除する */
  --vs-page--mbox-content-top-right: "";
  --vs-page--mbox-content-bottom-right: "";
}
